<span class="position">
  {{track.position}}
</span>

{{#if trackIsPlaying}}
  <span class="icon-pause"></span>
{{else}}
  <span class="icon-play"></span>
{{/if}}

<span class="title">
  {{track.title}}
  {{#if track.duration}}
    <span class="duration">
      ({{track.duration}})
    </span>
  {{/if}}
</span>
