html, body
  height 100vh

body
  font-size 14px
  // background-image url(http://i.imgur.com/Vv1JuS7.jpg)
  // background-image url(https://c1.staticflickr.com/5/4132/5042029446_ce6a0dbbb5_b.jpg)
  // background-image url(https://ozarkunderwater.files.wordpress.com/2012/05/100_0026_dust-scratches_autocolor_autotone.jpg)
  // background-image url(images/record-grooves.jpg)
  // background-image url(images/dirty.jpg)
  // background-image url(http://il7.picdn.net/shutterstock/videos/4372505/thumb/1.jpg)
  // background-image url(http://il6.picdn.net/shutterstock/videos/11347088/thumb/1.jpg)
  // background-image url(http://il7.picdn.net/shutterstock/videos/1150678/thumb/1.jpg)
  // background-position right top
  // background-attachment fixed
  // background-size cover
  // background-color #888
  // background-color white

main
  margin-left nav-width
  max-width 1200px
  padding padding
