#release
  h1
    margin 0 0 8px 0
    font-size 32px

  .artist, .year, .label
    font-family 'Volkhov', serif
    text-transform uppercase
    font-style inherit
    font-weight 600

  .artist
    font-size 14px
  .year
    font-size 18px
  .label
    font-size 11px

