#audio-player
  transition margin-bottom .2s
  flexbox()
  align-items(center)
  height 30px
  margin-bottom (0 - (@height + padding * 2))
  position fixed
  bottom 0
  padding padding
  background-color rgba(50, 50, 50, .2)
  &.playing
    margin-bottom 0
