nav
  width nav-width
  min-height 100vh
  position fixed
  background-color black
  border-right 1px solid rgba(black, .2)
  // background: -moz-linear-gradient(left, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.1) 91%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left, rgba(0,0,0,0) 56%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 91%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to right, rgba(0,0,0,0) 56%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 91%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // background-image url(http://il8.picdn.net/shutterstock/videos/1003684/thumb/1.jpg)
  // background-image url(http://cache4.asset-cache.net/gc/77006414-record-player-close-up-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=ukDEr7PVbAjQI4%2FM%2FXhTo1pxRBj0ALsxNPy69KoQlVDbbWZDAkIDmZlEbqLlQvUs)
  background-image url(http://il7.picdn.net/shutterstock/videos/4372505/thumb/1.jpg)
  // background-image url(http://il6.picdn.net/shutterstock/videos/11347088/thumb/1.jpg)
  // background-image url(http://il7.picdn.net/shutterstock/videos/1150678/thumb/1.jpg)
  background-size cover
  background-position center
  h1
    padding padding * 2
    font-weight 400
    font-size 21px
    text-align center
    margin auto
    background-color white
    // background-image url(https://s-media-cache-ak0.pinimg.com/736x/85/9a/55/859a5505b0bad29c08a9af33e31b82db.jpg)
    // color white
  a
    text-decoration none
    color white
  ul
    list-style none
    margin 0
    padding 0
    &#first-tier > li
      padding padding
      background-color rgba(black, .5)
      color white
      border-bottom 1px solid rgba(black, .3)
      font-size 16px
      cursor pointer
    .second-tier
      margin-top 4px
      > li
        margin-top 8px
        margin-left 8px
