.release-thumbs
  margin 0
  padding 0
  list-style none

.release-thumb-wrapper
  .release-thumb
    margin-bottom 20px
    flexbox()

  a
    text-decoration none
    color black
  h2
    margin-bottom 9px
    font-size 19px

  img
    flex-shrink(0)
    width 200px
    height 200px
    margin auto

  .details
    flex-grow(1)
    padding-left padding

  .artist, .length, .genres
    text-transform uppercase
    font-family 'Volkhov', serif
    font-weight 600

  .artist
    font-size 13px
  .length
    font-size 10px
  .genres
    font-size 10px

