.track-details
  flexbox()
  align-items(center)
  margin 0 5px 5px 0
  cursor pointer

  .position
    font-size 10px
    margin-right 5px
    font-weight 100
    width 15px
    flex-shrink(0)

  .duration
    font-size 12px
    text-transform uppercase
    margin-left 3px

  [class^="icon-"]
    font-size 24px
    margin-right 3px
