<nav>
  <ul>
    <li {{action 'randomRelease'}}>Random</li>
    <li>
      Genre
      <ul>
        {{#each genre in genres}}
          <li>{{#link-to 'genre' genre.slug}}{{genre.id}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </li>
    <li>
      Year
      <ul>
        {{#each year in years}}
          <li>{{#link-to 'year' year}}{{year}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </li>
  </ul>
</nav>
<main>
  {{outlet}}
</main>
